@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Truculenta:wght@400;500;700&display=swap");

//colors

$primary-color: #3a808a;
$secondary-color: #284d5b;
$footer-color: #ffa333;
$white: white;

//font
$main-font: "Roboto", sans-serif;
$title-font: "Truculenta", sans-serif;
$content-size: 13px;
$title-size: 80px;
