@use 'variables' as *;
@import "node_modules/bootstrap/scss/bootstrap";
@import "@fortawesome/fontawesome-free/css/all.css";
@import "mixin";
@import "button";
@import "header";
@import "section1";
@import "section2";
@import "carrousel";
@import "footer";
@import "modal";

* {
  box-sizing: border-box;
  font-family: $main-font;
}
.main-container {
  @include pxInRem(padding-top, 95px);
  background-color: $primary-color;
}
.container {
  @include pxInRem(padding-right, 100px);
  @include pxInRem(padding-left, 100px);
  position: relative;
}
.bold {
  font-weight: 700;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: $title-font;
}
